<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOTVVideoUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SOTVVideoUploader.Properties.Settings>
            <setting name="ThumbsNum" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ThumbsCaptureStart" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LargeThumbSize" serializeAs="String">
                <value>560, 315</value>
            </setting>
            <setting name="SmallThumbSize" serializeAs="String">
                <value>160, 90</value>
            </setting>
        </SOTVVideoUploader.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="accessKey" value="AKIAJN2R2DUUOVRZR66Q"/>
    <add key="secretKey" value="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"/>
    <add key="categoriesURL" value="http://www.rusotv.org/tv_show_categories.json"/>
    <add key="bucketName" value="sotv-video"/>
    <add key="jpegQuality" value="80"/>
    <add key="amazonRequestTimeout" value="60"/>
    <add key="urlPrefix" value="/" />
  </appSettings>
</configuration>